/* Début Reset Css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Fin du Reset */
/* css ici mobil first */
*{
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-family : 'Oswald', sans-serif;
	padding: 10px;
	margin: 10px;
	color: #4f5968;
}
h1{
	font-size: 1.6em;
}
h2{
	font-size: 2.2em;
}
header{
	background-color: #4f5968;
	padding: 15px;
	letter-spacing: -0.25rem;
	position: sticky;
	top: 0px;
	z-index: 2;
}
section{
	padding: 100px 10px 0 10px;
	margin: 5px;
	clear: both;
}
footer{
	background-color: #4f5968;
}
footer h2{
	color: white;
}
#copyright{
	background-color: #2F4F4F;
	text-align: center;
	color: white;
}
p{
	padding: 25px;
	line-height: 1.3em;
}


.fa-music{
	color:
}
.enTete{
	text-align: center;
	display: inline-block;
	letter-spacing: normal;
}
.enTete, span, .enTete h1{
	color: white;
}
.loisirs>i{
	padding: 20px;
	margin: 10px;
}
.fa-music{
	color : blue;
}
.fa-guitar{
	color: brown;
}
.fa-gamepad{
	color: blue;
	width: 10%;
}
#Competences .fa-html5{
	color: red;
	padding: 15px;
	margin: 10px;
}
#Competences .fa-css3-alt{
	color: blue;
	padding: 15px;
	margin: 10px;
}
#Competences .fa-github{
	color: blue;
	padding: 15px;
	margin: 10px;
}
#Competences>div{
	width: 50%;
	height: 400px;
	box-sizing: border-box;
	float: left;
	text-align: center;
}
#Competences img{
	width: 100%;
	height: 100%;
}
#Competences i{
	width: 100%;
}
.js{
	background: none;
	padding: 2px;
}
.date{
	font-weight: bold;
}

.fa-phone-square-alt,.fa-envelope{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	color: #f1f1f1;
}
/* Position and style the close button (top right corner) */
.sidenav1 .closebtn {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 36px;
	margin-left: 50px;
}

.sidenav1{
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  top: 0; /* Stay at the top */
  left: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
  background-color: #4f5968; /* Gray*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.studyrama.com/IMG/arton765.png");

  /* Set a specific height */
  height: 40vh;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
/* The navigation menu links */
.sidenav1>a, .boutons {
  padding: 15px 32px 15px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
	letter-spacing: normal;

}

.boutons{
	display: flex;
}
.boutons>a{
	padding: 20px 40px 20px 0;
}

/* When you mouse over the navigation links, change their color */
.sidenav1 a:hover {
  color: #f1f1f1;
}
.draw-border {
	box-shadow: inset 0 0 0 4px #58cdd1;
	color: #58afd1;
	-webkit-transition: color 0.25s 0.0833333333s;
	transition: color 0.25s 0.0833333333s;
	position: relative;
}

.draw-border::before,
.draw-border::after {
	border: 0 solid transparent;
	box-sizing: border-box;
	content: '';
	pointer-events: none;
	position: absolute;
	width: 0rem;
	height: 0;
	bottom: 0;
	right: 0;
}

.draw-border::before {
	border-bottom-width: 4px;
	border-left-width: 4px;
}

.draw-border::after {
	border-top-width: 4px;
	border-right-width: 4px;
}

.draw-border:hover {
	color: #f1f1f1;
}

.draw-border:hover::before,
.draw-border:hover::after {
	border-color: #B59A65;
	-webkit-transition: border-color 0s, width 0.25s, height 0.25s;
	transition: border-color 0s, width 0.25s, height 0.25s;
	width: 100%;
	height: 100%;
}

.draw-border:hover::before {
	-webkit-transition-delay: 0s, 0s, 0.25s;
	transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
	-webkit-transition-delay: 0s, 0.25s, 0s;
	transition-delay: 0s, 0.25s, 0s;
}

.btn {
	background: none;
	border: none;
	cursor: pointer;
	line-height: 1.5;
	font: 700 1.2rem 'Roboto Slab', sans-serif;
	padding: 0.75em 1em;
	letter-spacing: 0.05rem;
	width: 100%;
}

.btn:focus {
	outline: 2px dotted #B59A65;
}

.social-icons li {
	display: inline-block;
	margin: 0.15em;
	position: relative;
}

.social-icons i {
	color: #f1f1f1;
	position: absolute;
	top: 0.75em;
	/* left: 1em; */
	transition: all 265ms ease-out;
}

.social-icons a {
	display: inline-block;
}

.social-icons a:before {
	transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	content: " ";
	width: 45px;
	height: 45px;
	border-radius: 100%;
	display: block;
	transition: all 265ms ease-out;
}

.social-icons a:hover:before {
	transform: scale(0);
	transition: all 265ms ease-in;
}

.social-icons a:hover i {
	transform: scale(2.2);
	-ms-transform: scale(2.2);
	-webkit-transform: scale(2.2);
	color: #B59A65;
	background: -webkit-linear-gradient(45deg, #B59A65, #69604F);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 265ms ease-in;
}




@media screen and (min-width:768px) {
	.sidenav1 {
  	width: 250px;
	}
	.sidenav1 a:hover {
	  color: #B59A65;
	}
	#main {
	  margin-left: 250px; /* Same as the width of the sidenav */
	  padding: 0px 10px;
	}
	#name{
	margin-left: 250px; /* Same as the width of the sidenav */
	 padding: 0px 5px;
	}
	#footer{
		margin-left: 250px;
	}

	#Competences img {
	    height: 100%;
	}
	.container{
			flex-direction: row !important;
			flex-wrap: wrap;
	}
	.container .card .face{
	    width: 300px;
	}
	.card{
		padding: 0;
	}

	.container .card .face.face2{
	    transform: translateY(-125px);
	}
	.container .card .face.face1{
	    position: relative;
	    background: #333;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    z-index: 1;
			transform: translateY(125px);
	}
	.container .card .face.face1{
			background:#333 !important;
	    /* transform: translateY(100px); */
	}
	.container .card:hover .face.face1{
	    background:#B59A65 !important;
	    transform: translateY(0);
	}
	.container .card .face.face1 .content{
	    opacity: 0.2;
	    transition: 0.5s;
	}

	.container .card:hover .face.face1 .content{
	    opacity: 1;
	}

}

.coordonnées{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 50px 10px;
	flex-wrap: wrap;
	color: white;
}
/* .cvnav{
	display: block;
	text-align: center;
	border: solid black 1px;
	width: 150px;
	margin: auto;
} */
.dates{
	color : #fff;
	width: 100%;
	padding: 5px;
}

.container{
    width: 100%;
    display: flex;
		flex-wrap: wrap;
		flex-direction: column;
    justify-content: space-around;
}

.container .card{
    position: relative;
    cursor: pointer;
		padding: 25px 0;
}

.container .card .face{
    height: 250px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
		background:#B59A65;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}





.container .card .face.face1 .content img{
  height: 100px;
}

.container .card .face.face1 .content h3, .container h4{
    margin: 5px 0 0;
		padding: 5px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}
.coordonnées>.social-icons i{
	color: #B59A65;
}
.content{
	text-align: center;
}




#Diplomes h4{
    margin: 5px 0 0;
		padding: 5px;
    padding: 0;
    color: #4f5968;
    text-align: center;
    font-size: 1.5em;
}






input:focus,
textarea:focus,
select:focus {
  outline: none; }
.tabs p:first-of-type{
	font-style: italic;
}
.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden; }
  .tabs [class^="tab"] label,
  .tabs [class*=" tab"] label {
    color: #B59A65;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1em;
    padding: 2rem 0;
    text-align: center; }
  .tabs [class^="tab"] [type="radio"],
  .tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(181, 154, 101, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
    .tabs [class*=" tab"] [type="radio"]:hover,
    .tabs [class*=" tab"] [type="radio"]:focus {
      border-bottom: 1px solid #B59A65; }
    .tabs [class^="tab"] [type="radio"]:checked,
    .tabs [class*=" tab"] [type="radio"]:checked {
      border-bottom: 2px solid #B59A65; }
    .tabs [class^="tab"] [type="radio"]:checked + div,
    .tabs [class*=" tab"] [type="radio"]:checked + div {
      opacity: 1; }
    .tabs [class^="tab"] [type="radio"] + div,
    .tabs [class*=" tab"] [type="radio"] + div {
      display: block;
      opacity: 0;
      padding: 2rem 0;
      width: 90%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
  .tabs .tab-2 {
    width: calc(100%/3); }
    .tabs .tab-2 [type="radio"] + div {
      width: 300%;
      margin-left: 100%; }
    .tabs .tab-2 [type="radio"]:checked + div {
      margin-left: 0; }
    .tabs .tab-2:last-child [type="radio"] + div {
      margin-left: 100%; }
    .tabs .tab-2:nth-child(1n+2) [type="radio"]:checked + div {
      margin-left: -100%; }
			.tabs .tab-2:nth-child(1n+3) [type="radio"]:checked + div {
				margin-left: -200%; }
